<div class="modal-window">
  <div class="modal-header">
    <h1 mat-dialog-title class="modal-title">Edit person data</h1>
    <button class="close-modal cursor-pointer" type="button" [mat-dialog-close]="true">
      <img src="/assets/images/close.svg" alt="Close window">
    </button>
  </div>

  <div class="modal-content">
    <form [formGroup]="editPersonDataGroup">
      <div>
        <span class="input-title">Name</span>
        <input class="modal-input" formControlName="name">
      </div>

      <div>
        <span class="input-title">Last Name</span>
        <input class="modal-input" formControlName="lastName">
      </div>

      <div>
        <span class="input-title">Gender</span>
        <select class="modal-select" formControlName="gender" [value]="this.data.row.gender">
          <option>male</option>
          <option>female</option>
        </select>
      </div>

      <div>
        <span class="input-title">Birthday</span>
        <input class="modal-input" type="date" formControlName="birthday">
      </div>

      <div formGroupName="address">
        <div>
          <span class="input-title">Country</span>
          <input class="modal-input" formControlName="country">
        </div>

        <div>
          <span class="input-title">City</span>
          <input class="modal-input" formControlName="city">
        </div>

        <div>
          <span class="input-title">Street</span>
          <input class="modal-input" formControlName="street">
        </div>

        <div>
          <span class="input-title">Building number</span>
          <input class="modal-input" formControlName="number">
        </div>
      </div>

      <div class="modal-bottom">
        <div class="bottom-buttons">
          <button class="cancel-button cursor-pointer" type="button" [mat-dialog-close]="false">Cancel</button>
          <button class="edit-button cursor-pointer" (click)="editPerson()" type="submit" [mat-dialog-close]="true">
            <p class="edit-description">Save changes</p>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

